{% extends 'layout.html' %}
{% load static %}
{% block title %} | Job Directories {% endblock %}
{% block content %}

    <section id="section-header-directory">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="directory-header-box text-center">
                        <h1>Directories</h1>
                        <p>Welcome to your job future</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}