{% extends 'layout.html' %}
{% block title %} | Home {% endblock %}
{% block content %}
{% load static %}
    <section id="section-header-index">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="header-box">
                        <h1 class="text-center">Job Directory</h1>
                        <p class="lead text-center">Get or post your dream job in seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mt-5 mb-5">
                        <img src="{% static 'assets/img/job-01.jpeg' %}" alt="Job Directory">
                        <img src="{% static 'assets/img/people-business.jpg' %}" alt="Job Directory">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    {% for job in jobs %}
                        <div class="card shadow-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../../static/assets/img/logos/{{ job.logo }}" alt="{{ job.title }}" class="mr-auto" id="index-job-logo">
                                </div>
                                <div class="col-md-6 job-info-div">
                                    <h5 class="">{{ job.title }}</h5>
                                    <p class="">Salary: {{ job.salary }}/hr.</p>
                                    <p class="">Duration: {{ job.duration }} weeks.</p>
                                    <p class="">Skill Level: {{ job.developer_level }}</p>
                                    <p class="">{{ job.created }}</p>
                                    <a href="" class="btn btn-info">Apply</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}